In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
data = pd.read_csv('dirty_cafe_sales.csv')

data.isna().sum()
null_quantity_rows = data[data['Payment Method'].isna()]
print(null_quantity_rows)

     Transaction ID      Item Quantity Price Per Unit Total Spent  \
8       TXN_4717867       NaN        5            3.0        15.0
9       TXN_2064365  Sandwich        5            4.0        20.0
13      TXN_9437049    Cookie        5            1.0         5.0
14      TXN_8915701     ERROR        2            1.5         3.0
16      TXN_3765707  Sandwich        1            4.0         4.0
...             ...       ...      ...            ...         ...
9978    TXN_4302199       Tea        3            1.5         4.5
9982    TXN_8567525    Cookie        2            1.0         2.0
9985    TXN_3297457      Cake        2            3.0         6.0
9994    TXN_7851634   UNKNOWN        4            4.0        16.0
9995    TXN_7672686    Coffee        2            2.0         4.0

     Payment Method  Location Transaction Date
8               NaN  Takeaway       2023-07-28
9               NaN  In-store       2023-12-31
13              NaN  Takeaway       2023-06-01
14              NaN  In-store       2023-03-21
16              NaN       NaN       2023-06-10
...             ...       ...              ...
9978            NaN       NaN       2023-02-16
9982            NaN  Takeaway       2023-12-30
9985            NaN   UNKNOWN       2023-01-03
9994            NaN       NaN       2023-01-08
9995            NaN   UNKNOWN       2023-08-30

[2579 rows x 8 columns]

### Data Cleaning - Replace ERROR and UNKNOWN with NaN values

In [3]:
# Replace ERROR and UNKNOWN values with NaN in all columns
data = data.replace(['ERROR', 'UNKNOWN'], np.nan)

# Display the first few rows after cleaning
print("Dataset after replacing ERROR and UNKNOWN with NaN:")
display(data.head(10))

# Check data information to verify changes
print("\nData information after cleaning:")
data.info()

# Count remaining null values in each column
print("\nNull values count in each column:")
print(data.isnull().sum())

Dataset after replacing ERROR and UNKNOWN with NaN:

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,NaN,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,NaN,NaN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,NaN,2023-03-31
6,TXN_4433211,NaN,3,3.0,9.0,NaN,Takeaway,2023-10-06
7,TXN_6699534,Sandwich,4,4.0,16.0,Cash,NaN,2023-10-28
8,TXN_4717867,NaN,5,3.0,15.0,NaN,Takeaway,2023-07-28
9,TXN_2064365,Sandwich,5,4.0,20.0,NaN,In-store,2023-12-31

Data information after cleaning:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9031 non-null   object
 2   Quantity          9521 non-null   object
 3   Price Per Unit    9467 non-null   object
 4   Total Spent       9498 non-null   object
 5   Payment Method    6822 non-null   object
 6   Location          6039 non-null   object
 7   Transaction Date  9540 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

Null values count in each column:
Transaction ID         0
Item                 969
Quantity             479
Price Per Unit       533
Total Spent          502
Payment Method      3178
Location            3961
Transaction Date     460
dtype: int64

### Menalaah Data

In [4]:
data.head(10)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,NaN,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,NaN,NaN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,NaN,2023-03-31
6,TXN_4433211,NaN,3,3.0,9.0,NaN,Takeaway,2023-10-06
7,TXN_6699534,Sandwich,4,4.0,16.0,Cash,NaN,2023-10-28
8,TXN_4717867,NaN,5,3.0,15.0,NaN,Takeaway,2023-07-28
9,TXN_2064365,Sandwich,5,4.0,20.0,NaN,In-store,2023-12-31

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9031 non-null   object
 2   Quantity          9521 non-null   object
 3   Price Per Unit    9467 non-null   object
 4   Total Spent       9498 non-null   object
 5   Payment Method    6822 non-null   object
 6   Location          6039 non-null   object
 7   Transaction Date  9540 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

In [6]:
print(data.dtypes)

Transaction ID      object
Item                object
Quantity            object
Price Per Unit      object
Total Spent         object
Payment Method      object
Location            object
Transaction Date    object
dtype: object

In [7]:
data.isna().sum()

Transaction ID         0
Item                 969
Quantity             479
Price Per Unit       533
Total Spent          502
Payment Method      3178
Location            3961
Transaction Date     460
dtype: int64

In [8]:
# Check for duplicate rows
duplicate_rows = data[data.duplicated()]

# Display duplicate rows, if any
if not duplicate_rows.empty:
    print("Duplicate rows found:")
    display(duplicate_rows)
else:
    print("No duplicate rows found.")

No duplicate rows found.

## EDA

### Change data types
for Price Per Unit, Total Spent and Quantity to Float

In [9]:
# Convert numeric columns to float
data['Price Per Unit'] = pd.to_numeric(data['Price Per Unit'], errors='coerce')
data['Total Spent'] = pd.to_numeric(data['Total Spent'], errors='coerce')
data['Quantity'] = pd.to_numeric(data['Quantity'], errors='coerce')

### Handling Missing Value
We got so many missing value in our data, so we must clean it up.

We will drop any row if on Item is NULL

In [10]:
data = data.dropna(subset=['Item']) # Drop rows where 'Item' is NaN
# Display the first few rows after dropping NaN values
print("Dataset after dropping rows where Item is NaN:")
display(data.head(10))

Dataset after dropping rows where Item is NaN:

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4.0,1.0,NaN,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2.0,5.0,10.0,NaN,NaN,2023-04-27
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5.0,4.0,20.0,Credit Card,NaN,2023-03-31
7,TXN_6699534,Sandwich,4.0,4.0,16.0,Cash,NaN,2023-10-28
9,TXN_2064365,Sandwich,5.0,4.0,20.0,NaN,In-store,2023-12-31
10,TXN_2548360,Salad,5.0,5.0,25.0,Cash,Takeaway,2023-11-07
11,TXN_3051279,Sandwich,2.0,4.0,8.0,Credit Card,Takeaway,NaN

We also imputate the NaN data on Quantity column with the basic math with Total Spent divided by Price per unit.

In [11]:
mask = data['Quantity'].isna() & data['Total Spent'].notna() & data['Price Per Unit'].notna() & (data['Price Per Unit'] > 0)
data.loc[mask, 'Quantity'] = (data.loc[mask, 'Total Spent'] / data.loc[mask, 'Price Per Unit']).round()

# Display the number of remaining NaN values in Quantity
print(f"NaN values in Quantity column after filling: {data['Quantity'].isna().sum()}")

# Show a few examples of fixed rows
print("\nSample of rows where Quantity was calculated:")
display(data[mask].head())

NaN values in Quantity column after filling: 35

Sample of rows where Quantity was calculated:

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
20,TXN_3522028,Smoothie,5.0,4.0,20.0,Cash,In-store,2023-04-04
55,TXN_5522862,Cookie,2.0,1.0,2.0,Credit Card,Takeaway,2023-03-19
57,TXN_2080895,Cake,1.0,3.0,3.0,Digital Wallet,In-store,2023-04-19
66,TXN_8501819,Juice,2.0,3.0,6.0,Cash,NaN,2023-03-30
117,TXN_2148617,Juice,3.0,3.0,9.0,Digital Wallet,NaN,2023-01-10

We also imputate the NaN data on Price Per Unit column with the basic math with Total Spent divided by Quantity

In [12]:
mask2 = data['Price Per Unit'].isna() & data['Total Spent'].notna() & data['Quantity'].notna() & (data['Quantity'] > 0)
data.loc[mask2, 'Price Per Unit'] = (data.loc[mask2, 'Total Spent'] / data.loc[mask2, 'Quantity']).round(2)

# Display the number of remaining NaN values in Price Per Unit
print(f"NaN values in Price Per Unit column after filling: {data['Price Per Unit'].isna().sum()}")

# Show a few examples of fixed rows
print("\nSample of rows where Price Per Unit was calculated:")
display(data[mask2].head())

NaN values in Price Per Unit column after filling: 32

Sample of rows where Price Per Unit was calculated:

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
56,TXN_3578141,Cake,5.0,3.0,15.0,NaN,Takeaway,2023-06-27
68,TXN_8427104,Salad,2.0,5.0,10.0,NaN,In-store,2023-10-27
85,TXN_8035512,Tea,3.0,1.5,4.5,Cash,NaN,2023-10-29
104,TXN_7447872,Juice,2.0,3.0,6.0,NaN,NaN,NaN
140,TXN_2484241,Cake,3.0,3.0,9.0,Digital Wallet,NaN,2023-07-19

We also imputate the NaN data on Total Spent column with the basic math with Price Per Unit multiply by Quantity

In [13]:
mask3 = data['Total Spent'].isna() & data['Price Per Unit'].notna() & data['Quantity'].notna()
data.loc[mask3, 'Total Spent'] = (data.loc[mask3, 'Price Per Unit'] * data.loc[mask3, 'Quantity']).round(2)

# Display the number of remaining NaN values in Total Spent
print(f"NaN values in Total Spent column after filling: {data['Total Spent'].isna().sum()}")

# Show a few examples of fixed rows
print("\nSample of rows where Total Spent was calculated:")
display(data[mask3].head())

NaN values in Total Spent column after filling: 37

Sample of rows where Total Spent was calculated:

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
2,TXN_4271903,Cookie,4.0,1.0,4.0,Credit Card,In-store,2023-07-19
25,TXN_7958992,Smoothie,3.0,4.0,12.0,NaN,NaN,2023-12-13
42,TXN_6650263,Tea,2.0,1.5,3.0,NaN,Takeaway,2023-01-10
94,TXN_6289610,Juice,3.0,3.0,9.0,Cash,Takeaway,2023-08-07
143,TXN_8495063,Juice,1.0,3.0,3.0,Cash,NaN,2023-05-31

Check the rows if maybe rows got Two or more NaN so it'll not be cleaning.

In [14]:
# Check rows where Quantity, Price Per Unit, or Total Spent are NaN
nan_rows = data[data[['Quantity', 'Price Per Unit', 'Total Spent']].isna().any(axis=1)]

# Display the rows with NaN values
print("Rows with NaN in Quantity, Price Per Unit, or Total Spent:")
display(nan_rows)

Rows with NaN in Quantity, Price Per Unit, or Total Spent:

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
65,TXN_4987129,Sandwich,3.0,NaN,NaN,NaN,In-store,2023-10-20
236,TXN_8562645,Salad,NaN,5.0,NaN,NaN,In-store,2023-05-18
278,TXN_3229409,Juice,NaN,3.0,NaN,Cash,Takeaway,2023-04-15
629,TXN_9289174,Cake,NaN,NaN,12.0,Digital Wallet,In-store,2023-12-30
641,TXN_2962976,Juice,NaN,3.0,NaN,NaN,NaN,2023-03-17
738,TXN_8696094,Sandwich,NaN,4.0,NaN,NaN,Takeaway,2023-05-14
912,TXN_1575608,Sandwich,NaN,NaN,20.0,NaN,Takeaway,2023-01-05
1008,TXN_7225428,Tea,NaN,NaN,3.0,Credit Card,Takeaway,2023-03-07
1436,TXN_7590801,Tea,NaN,NaN,6.0,Cash,Takeaway,NaN
1482,TXN_3593060,Smoothie,NaN,NaN,16.0,Cash,NaN,2023-03-05
1674,TXN_9367492,Tea,2.0,NaN,NaN,Cash,In-store,2023-06-19
2229,TXN_8498613,Sandwich,2.0,NaN,NaN,NaN,NaN,2023-11-08
2330,TXN_3849488,Salad,NaN,NaN,5.0,NaN,In-store,2023-03-01
2585,TXN_1259340,Tea,3.0,NaN,NaN,Digital Wallet,NaN,2023-02-24
2796,TXN_9188692,Cake,NaN,3.0,NaN,Credit Card,NaN,2023-12-01
3162,TXN_3577949,Cake,3.0,NaN,NaN,NaN,Takeaway,2023-04-25
3203,TXN_4565754,Smoothie,NaN,4.0,NaN,Digital Wallet,Takeaway,2023-10-06
3224,TXN_6297232,Coffee,NaN,2.0,NaN,NaN,NaN,2023-04-07
3401,TXN_3251829,Tea,NaN,1.5,NaN,Digital Wallet,In-store,2023-07-25
3598,TXN_2857444,Smoothie,1.0,NaN,NaN,Cash,Takeaway,2023-05-10
3635,TXN_6177081,Cookie,NaN,NaN,1.0,Cash,NaN,2023-07-26
3673,TXN_6500126,Smoothie,2.0,NaN,NaN,NaN,NaN,NaN
4021,TXN_6424202,Cookie,2.0,NaN,NaN,Credit Card,In-store,2023-11-20
4257,TXN_6470865,Coffee,NaN,2.0,NaN,Digital Wallet,Takeaway,2023-09-18
5639,TXN_6206792,Tea,NaN,NaN,6.0,Credit Card,NaN,2023-10-13
5841,TXN_5884081,Cookie,NaN,1.0,NaN,Digital Wallet,In-store,2023-07-05
5845,TXN_8388462,Smoothie,NaN,NaN,8.0,NaN,Takeaway,2023-08-19
6225,TXN_6859249,Cookie,NaN,NaN,2.0,NaN,NaN,NaN
6661,TXN_5308047,Cookie,NaN,NaN,1.0,Credit Card,NaN,2023-10-28
6674,TXN_3071092,Coffee,NaN,NaN,4.0,NaN,NaN,2023-09-08
7029,TXN_4628338,Coffee,NaN,2.0,NaN,Cash,NaN,2023-12-25
7035,TXN_8872984,Salad,5.0,NaN,NaN,Credit Card,In-store,2023-08-23
7230,TXN_5118799,Cookie,2.0,NaN,NaN,Cash,Takeaway,2023-04-23
7244,TXN_2253622,Sandwich,5.0,NaN,NaN,Digital Wallet,Takeaway,2023-09-30
7297,TXN_9944500,Smoothie,NaN,4.0,NaN,Cash,In-store,2023-01-03
7568,TXN_3705445,Cookie,5.0,NaN,NaN,Cash,In-store,2023-09-13
7686,TXN_6905143,Coffee,5.0,NaN,NaN,Cash,NaN,2023-08-09
8021,TXN_2428781,Salad,NaN,5.0,NaN,NaN,In-store,2023-05-09
8128,TXN_6105807,Smoothie,3.0,NaN,NaN,Credit Card,Takeaway,2023-01-18
8443,TXN_2023651,Sandwich,NaN,4.0,NaN,Cash,In-store,2023-05-25
8465,TXN_9669616,Coffee,NaN,2.0,NaN,NaN,NaN,2023-06-03
8479,TXN_1547245,Sandwich,NaN,4.0,NaN,NaN,Takeaway,2023-09-11
8497,TXN_1525583,Sandwich,3.0,NaN,NaN,Cash,Takeaway,2023-05-20
8574,TXN_2546684,Juice,NaN,3.0,NaN,Digital Wallet,Takeaway,2023-04-08
8669,TXN_7764304,Cake,NaN,NaN,3.0,Credit Card,Takeaway,2023-01-09
8732,TXN_4550558,Cookie,NaN,1.0,NaN,Credit Card,In-store,2023-08-04
8975,TXN_8077367,Tea,NaN,NaN,7.5,Credit Card,NaN,2023-02-27
9212,TXN_7322317,Tea,1.0,NaN,NaN,NaN,NaN,2023-03-16
9464,TXN_5744797,Cake,NaN,NaN,3.0,Cash,In-store,2023-12-20
9590,TXN_9924732,Sandwich,NaN,4.0,NaN,Credit Card,In-store,2023-01-18
9869,TXN_1975184,Coffee,NaN,2.0,NaN,Digital Wallet,NaN,2023-01-15
9893,TXN_3809533,Juice,2.0,NaN,NaN,Digital Wallet,Takeaway,2023-02-02

We Drop the rows if the rows got Two or more NaN in Quantity, Price per unit, and Total spent

In [15]:
# Count NaN values in the three numeric columns for each row
nan_count = data[['Quantity', 'Price Per Unit', 'Total Spent']].isna().sum(axis=1)

# Identify rows with 2 or more NaN values in these columns
rows_to_drop = nan_count >= 2

# Drop these rows
data_cleaned = data[~rows_to_drop]

# Display the result
print(f"Original data shape: {data.shape}")
print(f"Cleaned data shape: {data_cleaned.shape}")
print(f"Number of rows dropped: {sum(rows_to_drop)}")


# Update the main dataframe
data = data_cleaned

Original data shape: (9031, 8)
Cleaned data shape: (8979, 8)
Number of rows dropped: 52

We check again the data information

In [17]:
data.isnull().sum()

Transaction ID         0
Item                   0
Quantity               0
Price Per Unit         0
Total Spent            0
Payment Method      2860
Location            3565
Transaction Date     415
dtype: int64

Since the 'Payment Method' and 'Location' columns contain NULL values and are not considered essential for data processing, they will be marked as NULL or excluded from further analysis.

We Will removing row that Transaction Date contain NULL values.

In [20]:
# Drop rows where Transaction ID is null
data = data.dropna(subset=['Transaction Date'])

# Display the count after dropping
print(f"Number of rows after dropping rows with null Transaction Date: {len(data)}")

# print the first few rows of the cleaned data
data.info()

Number of rows after dropping rows with null Transaction Date: 8564
<class 'pandas.core.frame.DataFrame'>
Index: 8564 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    8564 non-null   object
 1   Item              8564 non-null   object
 2   Quantity          8564 non-null   float64
 3   Price Per Unit    8564 non-null   float64
 4   Total Spent       8564 non-null   float64
 5   Payment Method    5851 non-null   object
 6   Location          5157 non-null   object
 7   Transaction Date  8564 non-null   object
dtypes: float64(3), object(5)
memory usage: 602.2+ KB